.add-input {
    display: none;
    appearance: none;
}

.add-button {
    display: block;
    border-radius: 2px;
    padding: 20px;
    appearance: none;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
}