.header {
    &__title {
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25%;
        margin: 0;
        padding: 60px;
    }
}